.form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between 20px;
    column-gap: 10px;
    margin-top: 20px;
    background-color: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    box-sizing: border-box; // Include padding in the width calculation

    h2 {
        margin: 0 0 10px;
    }

    label {
        font-size: small;
    }

    input {
        border: none;
        border-bottom: 1px solid lightgrey;
        padding: 5px 10px;
        width: 90%;
        border-radius: 6px;
    }

    textarea {
        border: none;
        border-bottom: 1px solid lightgrey;
        padding: 5px 10px;
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 6px;
    }

    button {
        border: none;
        padding: 5px;
        border-radius: 6px;
    }












    .label-title,
    .label-content,
    .label-topic {
        flex: 1 1 100%;
        margin-top: 10px;
    }

    .input-title,
    .input-content,
    .input-topic {
        flex: 1 1 100%;
        margin-bottom: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    .input-file {
        flex: 1 1 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .button-group {
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: flex-end;

        button {
            padding: 8px 16px;
            cursor: pointer;
            background-color: white;
            border: 1px solid grey;

            &:hover {
                background-color: #f0f0f0;
            }

            &.btn-submit {
                background-color: #4CAF50;
                color: white;
                border: none;

                &:hover {
                    background-color: #45a049;
                }
            }
        }
    }
}