.spanSearch {
    font-weight: bold;
    font-size: 20px;
    color: rgb(15, 3, 3);
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;
    background: white;
    width: 100%;
    max-width: 500px;

    input {
        border: none;
        outline: none;
        width: 100%;
    }

    .search-results {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: rgb(176, 174, 174);
        border-radius: 10px;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        margin-top: 5px;

        li {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px;
            cursor: pointer;

            &:hover {
                background-color: #f0f0f0;
            }
        }

        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}