.profilePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  .postContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: rgb(239, 235, 232);
    border-radius: 10px;
    box-sizing: border-box; // Include padding in the width calculation

    .postInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .userInfo {
        display: flex;
        gap: 20px;
        align-items: center;
        font-weight: bold;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          display: flex;
          flex-direction: column;

          .name {
            font-weight: 600;

          }

          .date {
            //margin-right: auto;
            font-size: 14px;
          }
        }
      }
    }

    .postContent {
      display: flex;
      flex-direction: column;
      margin: 20px 0px;

      img {
        background-color: rgba(0, 0, 0, 0.458);
        width: 100%;
        max-height: 700px;
        object-fit: scale-down;
        margin-top: 10px;
      }

      p {
        flex-grow: 1;
      }

    }

    .info {
      display: flex;
      align-items: center;
      gap: 20px;

      .comment {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }

  .comments-container {
    width: 99.5%;
    background-color: rgb(239, 235, 232);
    padding: 5px;
  }
}



.noSuchUser {
  margin-top: 10px;
  background-color: rgb(232, 233, 231);
  padding: 20px;
  border-radius: 10px;
}


.action-btn {
  width: 8rem;        // prevents full width
  padding: 12px 25px; // makes it thicker
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #cd09d7;
  color: white;
  cursor: pointer;
  font-weight: 600;
}