:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout-container {
    max-width: 1200px;
    width: fit-content;
    min-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

/* $themes:(
    light:(
        textColor: #000,
        bg: white,
        textColorsoft: #555,
        textColor: lightgrey,
    ),
    dark:(
        textColor: whitesmoke,
        bg: #222,
        textColorsoft: lightgrey,
        textColor: #444,
    ),
) */

@media (max-width: 768px) {
    .navBar {
        padding: 10px;
    }

    .navBar .right {
        gap: 10px;
        padding-right: 0;
    }

    .navBar .spanTitle {
        font-size: 16px;
    }
}