@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    @include center-content();
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;

    .register-card {
        @include center-content();
        flex-direction: column;
        background-color: rgb(240, 240, 240);
        width: 50%;
        border-radius: 10px;
        min-height: 600px;
        padding: 0;

        @media (max-width: 768px) {
            width: 90%;
            min-height: auto;
            padding: 20px 0;
        }

        .div-error {
            @include center-content();
            background-color: red;
            border: 5px solid red;
            width: 90%;
            border-radius: 5px;
            padding: 5px;
            margin: auto;
        }

        .div-success {
            @include center-content();
            background-color: greenyellow;
            width: 90%;
            border-radius: 5px;
            padding: 5px;
            margin: auto;
        }

        h1 {
            @include center-content();
            font-size: 50px;
            padding: 0 10%;
            line-height: 1;

            @media (max-width: 768px) {
                font-size: 32px;
            }
        }

        h2 {
            @include center-content();
            font-size: 40px;
            margin-top: 0;

            @media (max-width: 768px) {
                font-size: 24px;
            }
        }

        form {
            @include center-content();
            flex-direction: column;
            gap: 30px;
            width: 100%;

            input {
                border: none;
                border-bottom: 1px solid lightgrey;
                padding: 10px;
                width: 100%;
            }
        }

        p {
            font-size: 15px;
        }

        button {
            @include center-content();
            width: 100%;
            padding: 10px;
            border: none;
            background-color: rgb(127, 127, 125);
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
